{
  "name": "{{{name}}}",
  "description": "{{{description}}}",
  "launch_path": "/index.html",
  "version": "{{{version}}}",
  "icons": {
    "16": "{{{icon16}}}",
    "48": "{{{icon48}}}",
    "60": "{{{icon60}}}",
    "128": "{{{icon128}}}"
  },
  "developer": {
    "name": "{{{developer_name}}}",
    "url": "{{{developer_url}}}"
  }
}

